	<script type="application/ld+json">
{{- with site.Data.scheme.website }}
{{ . }}
{{- else }}
{
	"@context": "https://schema.org",
	"@type": "WebSite",
	"url": {{ site.BaseURL }},
	"name": {{ site.Title }}
}
{{- end }}
	</script>
	<script type="application/ld+json">
{{- with site.Data.scheme.organization }}
{{ . }}
{{- else }}
{
	"@context":"https://schema.org",
	"@type":"Organization",
	"url": {{ site.BaseURL }},
	"logo": {{ absURL site.Params.logo }},
	"name": {{ site.Title }},
	"description": {{ strings.TrimSpace site.Params.description }},
	"address": {
		"@type": "PostalAddress"
	}
}
{{- end }}
	</script>

{{- $sameAs := slice }}
{{- range $k, $v := site.Params.author }}
	{{- $s := index site.Data.beautiful.social $k }}
	{{- with $s }}
	{{- $sameAs = $sameAs | append (printf .url $v) }}
	{{- end }}
{{- end }}

{{- if .IsPage }}
	<script type="application/ld+json">
	{{- with site.Data.scheme.author }}
{{ . }}
  {{- else }}
{
	"@context": "http://schema.org",
	"@type": "ProfilePage",
	"mainEntity": {
		"@type": "Person",
		{{- with site.Params.author.name }}
		"name": {{ . }},
		{{- end }}
		{{- with site.Params.author.nick }}
		"alternateName": {{ . }},
		{{- end }}
		{{- with or site.Params.author.description site.Params.description }}
		"description": {{ strings.TrimSpace . }},
		{{- end }}
		{{- if $sameAs }}
		"sameAs": {{ $sameAs }},
		{{- end }}
		"image": {{ absURL (or site.Params.author.image site.Params.logo) }},
		"url": {{ or site.Params.author.url site.BaseURL }}
	}
}
	{{- end }}
	</script>

	{{- $description := or .Description .Summary site.Params.description | plainify | htmlUnescape | truncate 500 }}
	<script type=application/ld+json>
{
	"@context": "https://schema.org",
	"@type": "BlogPosting",
	"@id": {{ .Permalink }},
	"url": {{ .Permalink }},
	"mainEntityOfPage": {{ .Permalink }},
	"name": {{ .Title }},
	"headline": {{ .Title }},
	"description": {{ trim $description "\n\r\t " }},
	"datePublished": {{ .PublishDate }},
	"dateModified": {{ .Lastmod }},
	"inLanguage": {{ site.Language.Lang }},
	"wordCount": {{ .WordCount }},
	"publisher":{
		"@type": "Organization",
		"@id": {{ site.BaseURL }},
		"url": {{ site.BaseURL }},
		"name": {{ site.Title }},
		"logo": {{ absURL site.Params.logo }},
		"address": {
		}
	},
	"author": [{
		"@type": "Person",
		"@id": {{ or .Params.author.url site.Params.author.url }},
		"url": {{ or .Params.author.url site.Params.author.url }},
		"name": {{ or .Params.author.name site.Params.author.name }}
	}],
	{{- $images := partial "_funcs/get-page-images" . }}
	"image": [
	{{- range first 1 $images }}
		{{ absURL .Permalink }}
	{{- end}}
	]
	{{- with .Store.Get "keywords" -}}
	,
	"keywords": {{ . }}
	{{- end }}
}
	</script>
{{- end }}
	<script type="application/ld+json">
[
{{- range .GetTerms "categories" -}}
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
		"name": {{ site.Title }},
		"item": {{ site.BaseURL }}
	},{
		"@type": "ListItem",
		"position": 2,
		"name": "{{ .LinkTitle }}",
		"item": {{ .Permalink }}
	},{
		"@type": "ListItem",
		"position": 3,
		"name": "{{ $.Title }}",
		"item": {{ $.Permalink }}
	}]
}
{{- else -}}
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
		"name": {{ site.Title }},
		"item": {{ site.BaseURL }}
	}
{{- if ne .RelPermalink "/" -}}
	,
	{{- $num := 2 }}
	{{- $path := "/" }}
	{{- range (split (trim (replace .RelPermalink "/" " ") " ") " ") }}
		{{- if . }}
			{{- $path = add $path . "/" }}
		{{- end }}
		{{- $c := site.GetPage $path }}
		{{- if eq $path $.RelPermalink -}}
	{
		"@type": "ListItem",
		"position":{{ $num }},
		"name": {{ or $.LinkTitle site.Title }},
		"item": {{ $.Permalink }}
	}
		{{- else -}}
	{
		"@type": "ListItem",
		"position":{{ $num }},
		"name": {{ $c.LinkTitle }},
		"item": {{ $c.Permalink }}
	},
		{{- end -}}
		{{- $num = add $num 1 }}
	{{- end -}}
{{- end -}}
	]
}
{{- end -}}
]
	</script>
