	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@300..600&family=Poor+Story&display=swap" rel="stylesheet">

	<style>
	.noto-sans-kr-light {
		font-family: "Noto Sans", "Noto Sans KR", sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal; }

	body,
	.noto-sans-kr-regular {
		font-family: "Noto Sans", "Noto Sans KR", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal; }

	.noto-sans-kr-medium {
		font-family: "Noto Sans", "Noto Sans KR", sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal; }

	.noto-sans-kr-semibold {
		font-family: "Noto Sans", "Noto Sans KR", sans-serif;
		font-optical-sizing: auto;
		font-weight: 600;
		font-style: normal; }

	.nanum-pen-script-regular {
		font-family: "Nanum Pen Script", cursive;
		font-weight: 400;
		font-style: normal; }

	.poor-story-regular {
		font-family: "Poor Story", system-ui;
		font-weight: 400;
		font-style: normal; }

	.navbar {
		--bs-navbar-brand-font-size: 1.25rem; }
		.navbar .navbar-brand {
			font-family: "Poor Story", "Noto Sans", "Noto Sans KR", sans-serif;
			font-weight: 600; }
</style>
