	<meta charset="utf-8">
	<meta name="content-language" content="{{ site.Language.Lang }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partial "head/meta" . }}
{{ partial "head/structured" . }}
{{ partial "opengraph" . }}
{{- partial "twitter_cards" . }}

{{ partial "head/bootstrap" . }}

{{- partialCached "head/css.html" . }}

{{- partial "head_custom.html" . }}
