{{- if not .Params.suppressMeta }}
	{{- $pubd := or .PublishDate .Date }}
							<div class="page-meta text-muted small">
	{{- if gt $pubd (time.AsTime "0001-01-01T00:00:00") }}
								<time class="published-time" datetime="{{
									time.Format "2006-01-02T15:04:05-07:00" $pubd }}">{{
									time.Format ":date_long" $pubd }}</time>
	{{- else }}
								<span class="published-time">?</span>
	{{- end }}
	{{- if .Site.Params.readingTime }}
								| <span class="reading-time">{{ T "minute" .ReadingTime }}</span>
	{{- end }}
	{{- if .Site.Params.wordCount }}
								| <span class="word-count">{{ T "word" .WordCount }}</span>
	{{- end }}
	{{- range .Params.categories }}
								| <span class="category">{{ replace . "-" " " |title }}</span>
	{{- end }}
							</div>
{{- end -}}

{{- if .IsTranslated }}
							<div class="translations">
								{{ T "translations" }}
	{{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
	{{- range $sortedTranslations }}
								<a class="translation" href="{{ .Permalink }}" lang="{{ .Lang }}">{{ default .Lang .Site.Language.LanguageName }}</a>
	{{- end }}
							</div>
{{- end -}}
