:root {
	--pagefind-ui-scale: .85;
	--pagefind-ui-primary: var(--bs-primary-color);
	--pagefind-ui-text: var(--bs-body-color);
	--pagefind-ui-background: var(--bs-secondary-bg);
	--pagefind-ui-border: var(--bs-border-color);
	--pagefind-ui-tag: #eeeeee;
	--pagefind-ui-border-width: 2px;
	--pagefind-ui-border-radius: 8px;
	--pagefind-ui-image-border-radius: 8px;
	--pagefind-ui-image-box-ratio: 3 / 2;
	--pagefind-ui-font: var(--bs-font-sans-serif);
}

.pagefind-ui__search-input {
	border-width: 2px !important;
}

.pagefind-ui--reset mark {
	color: var(--bs-highlight-color);
	background-color: var(--bs-highlight-bg);
}
