// --- variables -------------------------------------------------------------
:root,
[data-bs-theme=light] {
	--bh-accent: #ee5500;
	--bh-marker: linear-gradient(transparent 30%, #edf3ffd0 50%, #d0f9ffd0 80%);
	--bh-box-shadow: 2px 2px 8px #888888;

	--bh-border-color: #404040;
}

[data-bs-theme=dark] {
	--bh-accent: #ee5500;
	--bh-marker: linear-gradient(transparent 30%, #6ea8fe30 50%, #06a8fe50 80%);
	--bh-box-shadow: 2px 2px 8px #101010;
}

// --- page content ----------------------------------------------------------
.page-summary,
.page-seealso,
.page-content {
	h1, h2 { margin: 2.0em 0 1rem; }
	h3, h4 { margin: 1.5em 0 1rem; }
	h5, h6 { margin: 1.0em 0 1rem; }

	p {
		margin-bottom: 1rem;
		text-align: justify;
	}

	img {
		max-width: 95%;
		margin: 0 auto 1rem;
	}

	blockquote {
		color: var(--bs-secondary-color);
		border-left: 0.7rem solid var(--bs-secondary-bg);
		border-radius: 0.5rem;

		padding: 0.5em 1.3rem;
		& *:first-child { margin-top: 0 !important; }
		& *:last-child { margin-bottom: 0 !important; }

		&:before {
			font-family: "Font Awesome 7 Free";
			display: inline-block;
			width: 1.7rem;
			float: left;
			margin-left: -1.7rem;
			margin-top: -0.8rem;
		}
		&:before { content: "\f10d"; font-weight: bold; }

		&.comment,
		&.point {
			color: var(--bs-secondary-color);
			border-left: 0 solid transparent;
			padding-left: 2rem;
			&:before {
				margin-top: 0;
				margin-left: -2rem;
			}
		}
		&.comment:before { content: "\f075"; font-weight: normal; }
		&.point:before { content: "\f0a4"; color: var(--bh-accent); }

		&.boxed {
			color: var(--bs-body-color);
			background: var(--bs-tertiary-bg);
			border: 1px solid var(--bs-secondary-bg);
			border-radius: 0.5em;
			&:before { content: ""; }
		}
	}

	ul {
		li {
			list-style: square;
		}
		&.nodot > li {
			list-style: none;
		}
		&.angle > li {
			list-style: none;
			&:before {
				content: "\f105"; font-weight: 600; // angle-right
				font-family: "Font Awesome 7 Free"; margin-left: -30px; float: left;
			}
		}
		&.check > li {
			list-style: none;
			&:before {
				content: "\f00c"; // fa-check
				font-family: "Font Awesome 7 Free"; margin-left: -30px; float: left;
			}
		}
		&.square-check > li {
			list-style: none;
			&:before {
				content: "\f14a"; // fa-square-check
				font-family: "Font Awesome 7 Free"; margin-left: -30px; float: left;
			}
		}
		&:has(input) {	// task list
			padding-left: 0;
			li {
				list-style: none;
				input {
					width: 32px;
				}
			}
		}
	}

	dl {
		dd { padding-left: 2rem; }

		&.message,
		&.help, &.info, &.warn, &.keypoint, &.point {
			margin: 1.5em 0; // checkme
			dt {
				color: var(--bh-accent);
				font-weight: bold;
				border-bottom: 1px dotted var(--bs-tertiary-color);
				&:before {
					font-family: "Font Awesome 7 Free";
					font-weight: normal;
					display: inline-block;
					width: 2rem;
				}
			}
		}

		&.message dt:before { content: "\f27a"; }
		&.point dt:before { content: "\f0eb"; }
		&.keypoint dt:before { content: "\f084"; font-weight: bold; }
		&.warn dt:before { content: "\f071"; font-weight: bold; }
		&.info dt:before { content: "\f05a"; font-weight: bold; }
		&.help dt:before { content: "\f059"; font-weight: bold; }

		&.message,
		&.info {
			dt {
				color: var(--bs-body-color);
				font-weight: normal;
			}
			dd {
				color: var(--bs-tertiary-color);
			}
		}

		&.help {
			dt {
				color: var(--bs-body-color);
				font-weight: normal;
			}
		}
	}

	.highlight {
		margin: 0 1rem 1rem;
		pre {
			padding: 0.5em;
			font-size: 0.8rem;
			box-shadow: var(--bs-box-shadow);
			& code {
				line-height: 1.5em;
				white-space: pre-wrap; word-break: break-all; // wrap but not on word
				.nowrap & {
					white-space: pre;
				}
			}
		}
	}

	table {
		font-size: 0.9rem;
		margin: 0 auto 1rem;
		max-width: 95%;
		min-width: 60%;

		thead tr, tbody tr {
			th, td {
				padding: 1px 1em;
				border-width: 1px 0;
				line-height: 1.5em;
			}
		}
		thead tr {
			background: var(--bs-secondary-bg);
		}
		tbody tr:nth-child(even) {
			background: rgba(var(--bs-tertiary-bg-rgb), .6);
		}

		&.fit { width: 95%; }
		&.filled { width: 100%; }
		&.borderless {
			thead tr, tbody tr {
				background: transparent;
			}
			thead tr th, tbody tr td {
				border-width: 0;
			}
		}
	}

	strong {
		color: var(--bs-emphasis-color);
		font-weight: normal;
		background: var(--bh-marker);
	}

	hr {
		&.short {
			margin-left: auto;
			margin-right: auto;
			width: 200px;
		}
		&.dashed {
			border-style: dashed;
		}
	}

	.footnote-ref {
		&:before {
			content: '[' !important;
		}
		&:after {
			content: ']' !important;
		}
	}
	.footnotes {
		font-size: 0.8rem;
		margin: 1.5rem 0;
		ol {
			padding: 0 0 0 1.5em;
			p {
				margin: 0 0 .5em;
			}
		}
	}

	// --- extra ---
	.block-title-10,
	.block-title {
		margin: 0.3rem 1rem 0;
		padding: 0.2rem 0.5rem;
		line-height: 1;
		border-left: 0.5rem solid var(--bs-border-color);
		background: var(--bs-tertiary-bg);
	}
}

.page-footer {
	ul.social-share {
		li {
			display: inline;
			a {
				color: var(--bs-secondary-color);
			}
		}
	}
}

// --- common modifiers ------------------------------------------------------
.bordered { border: 1px solid var(--bh-border-color); }
.dropshadow { box-shadow: var(--bh-box-shadow); }
.inline-badges {
	line-height: 0;
	> * { display: inline-block; }
}
p.caption {
	font-size: 0.8rem;
	text-align: center;
	img {
		margin-bottom: 0.25rem;
	}
}
.boxed {
	color: var(--bs-body-color);
	background: var(--bs-tertiary-bg);
	border: 1px solid var(--bs-secondary-bg);
	padding: 0.5em 1em;
	&.rounded {
		border-radius: 0.5em;
	}
}

// .onethird { max-width: 33% !important; display: block; }
// .twothird { max-width: 66% !important; display: block; }
// .half		 { max-width: 50% !important; display: block; }
// .filled { width: 100%; }
// .mix-margin {
//	margin: 0.5rem 2rem !important;
//	&.pull-right { margin-right: 0 !important; }
//	&.pull-left { margin-left: 0 !important; }
// }
// .mix-large { font-size: 1.2em; }
// .mix-xlarge { font-size: 1.4em; }
// .mix-xxlarge { font-size: 1.6em; }
// .mix-xxxlarge { font-size: 1.8em; }

// --- page_meta -------------------------------------------------------------
.page-meta {
	& > *:before {
		font-family: "Font Awesome 7 Free";
		font-weight: 900;
		display: inline-block;
		width: 1em;
		margin-left: .5em;
		margin-right: .3em;
	}
	.published-time:before {
		content: "\f133";
	}
	.reading-time:before {
		content: "\f017";
	}
	.word-count:before {
		content: "\f036";
	}
	.category:before {
		content: "\f07b";
	}
	& > *:first-child:before {
		margin-left: 0;
	}
	& > * {
		margin-right: .5em;
	}
}

.page-tags {
	.page-tags-list {
		.page-tag {
			a {
				&:before {
					font-family: "Font Awesome 7 Free";
					content: "#";
				}
			}
		}
	}
}

// --- google translation gadget integration ---------------------------------
#google_translate_element {
	div.goog-te-gadget {
		text-align: right;
		span {
			img {
				display: inline-block;
			}
		}
	}
}

// --- mobile ----------------------------------------------------------------
@media only screen and (max-width: 767px) {
}

// --- for printing ----------------------------------------------------------
@media print {
	img {
		max-height: 70vh;
		max-width: 90% !important;
		page-break-inside: avoid !important;
	}
	pre code {
		white-space: pre-wrap; word-break: break-all;
	}
}

// vim: set noexpandtab:
