//$color-text: #404040;
//$color-light: #cccccc;

/**
$font-head: 'Open Sans','NanumSquare','Helvetica Neue',sans-serif;
$font-norm: 'Open Sans','Noto Sans KR','Helvetica Neue',sans-serif;
$font-meta: 'Open Sans','Noto Sans KR','Helvetica Neue',sans-serif;
$font-type: Monaco, "Ubuntu Mono", "Courier New", monospace !important;
$font-head-weight: 800; // 800 for NanumBarunGothic/NanumSquare, 700 for Noto
$font-thin-weight: 200;

$color-dark: #202020;
$color-grey: #aaaaaa;
$color-link: #0075aa;
$color-cool: skyblue;
$color-header: #ffffff;
$color-footer: #505050;
$color-comment: #a09090;

$background-body: #f9f9f9;
$background-box: #fbfbfb;
$background-black: #111111;
$background-header: #000000;
$background-footer: #f5f5f5;
$background-point: #454545;

$background-styled: linear-gradient(#eeeeee 0%, #ffffff 40%, #ffffff 60%, #eeeeee 100%);
$background-th: #eeeeee;
$background-td: #ffffff;
$color-border: $color-light;
**/

// --- variables -------------------------------------------------------------
:root,
[data-bs-theme=light] {
	--bh-accent: #ee5500;
	--bh-marker: linear-gradient(transparent 30%, #edf3ffd0 50%, #d0f9ffd0 80%);
	--bh-box-shadow: 2px 2px 8px #888888;

	--bh-border-color: #404040;
}

[data-bs-theme=dark] {
	--bh-accent: #ee5500;
	--bh-marker: linear-gradient(transparent 30%, #6ea8fe30 50%, #06a8fe50 80%);
	--bh-box-shadow: 2px 2px 8px #101010;
}

// --- post/page content -----------------------------------------------------
.post-summary,
.page-content {
	h1, h2 { margin-top: 2.0em; }
	h3, h4 { margin-top: 1.5em; }
	h5, h6 { margin-top: 1.0em; }

	p {
		margin: 1rem 0;
		text-align: justify;
	}

	img {
		max-width: 95%;
		margin: 1rem auto;
	}

	blockquote {
		color: var(--bs-secondary-color);
		border-left: 0.7rem solid var(--bs-secondary-bg);
		border-radius: 0.5rem;

		padding: 0.5em 1.3rem;
		& *:first-child { margin-top: 0 !important; }
		& *:last-child { margin-bottom: 0 !important; }

		&:before {
			font-family: "Font Awesome 7 Free";
			display: inline-block;
			width: 1.7rem;
			float: left;
			margin-left: -1.7rem;
			margin-top: -0.8rem;
		}
		&:before { content: "\f10d"; font-weight: bold; }

		&.comment,
		&.point {
			color: var(--bs-secondary-color);
			border-left: 0 solid transparent;
			padding-left: 2rem;
			&:before {
				margin-top: 0;
				margin-left: -2rem;
			}
		}
		&.comment:before { content: "\f075"; font-weight: normal; }
		&.point:before { content: "\f0a4"; color: var(--bh-accent); }

		&.boxed {
			color: var(--bs-body-color);
			background: var(--bs-tertiary-bg);
			border: 1px solid var(--bs-secondary-bg);
			border-radius: 0.5em;
			&:before { content: ""; }
		}
	}

	ul {
		li {
			list-style: square;
		}
		&.nodot > li {
			list-style: none;
		}
		&.angle > li {
			list-style: none;
			&:before {
				content: "\f105"; font-weight: 600; // angle-right
				font-family: "Font Awesome 7 Free"; margin-left: -30px; float: left;
			}
		}
		&.check > li {
			list-style: none;
			&:before {
				content: "\f00c"; // fa-check
				font-family: "Font Awesome 7 Free"; margin-left: -30px; float: left;
			}
		}
		&.square-check > li {
			list-style: none;
			&:before {
				content: "\f14a"; // fa-square-check
				font-family: "Font Awesome 7 Free"; margin-left: -30px; float: left;
			}
		}
	}

	dl {
		dd { padding-left: 2rem; }

		&.help, &.info, &.warn, &.keypoint, &.point {
			margin: 1.5em 0;
			dt {
				color: var(--bh-accent);
				font-weight: bold;
				border-bottom: 1px dotted var(--bs-tertiary-color);
				&:before {
					font-family: "Font Awesome 7 Free";
					font-weight: normal;
					display: inline-block;
					width: 2rem;
				}
			}
		}

		&.point dt:before { content: "\f0eb"; }
		&.keypoint dt:before { content: "\f084"; font-weight: bold; }
		&.warn dt:before { content: "\f071"; font-weight: bold; }
		&.info {
			dt {
				color: var(--bs-body-color);
				font-weight: normal;
				&:before { font-weight: bold; content: "\f05a"; }
			}
			dd {
				color: var(--bs-tertiary-color);
			}
		}
		&.help {
			dt {
				color: var(--bs-body-color);
				font-weight: normal;
				&:before { font-weight: bold; content: "\f059"; }
			}
		}
	}

	.highlight {
		margin: 1em;
		pre {
			padding: 0.5em;
			font-size: 0.8rem;
			box-shadow: var(--bs-box-shadow);
			& code {
				line-height: 1.5em;
				white-space: pre-wrap; word-break: break-all; // wrap but not on word
				.nowrap & {
					white-space: pre;
				}
			}
		}
	}

	table {
		font-size: 0.9rem;
		margin: 1rem auto;
		max-width: 95%;
		min-width: 60%;

		thead tr, tbody tr {
			th, td {
				padding: 1px 1em;
				border-width: 1px 0;
				line-height: 1.5em;
			}
		}
		thead tr {
			background: var(--bs-secondary-bg);
		}
		tbody tr:nth-child(even) {
			background: rgba(var(--bs-tertiary-bg-rgb), .6);
		}

		&.fit { width: 95%; margin: 1rem auto; }
		&.filled { width: 100%; }
		&.borderless {
			thead tr, tbody tr {
				background: transparent;
			}
			thead tr th, tbody tr td {
				border-width: 0;
			}
		}
	}

	strong {
		color: var(--bs-emphasis-color);
		font-weight: normal;
		background: var(--bh-marker);
	}

	.footnote-ref {
		&:before {
			content: '[' !important;
		}
		&:after {
			content: ']' !important;
		}
	}
	.footnotes {
		font-size: 0.8rem;
		margin: 1.5rem 0;
		ol {
			padding: 0 0 0 1.5em;
			p {
				margin: .5em 0;
			}
		}
	}
}

.post-footer {
	ul.social-share {
		li {
			display: inline;
			a {
				color: var(--bs-secondary-color);
			}
		}
	}
}

// --- common modifiers ------------------------------------------------------
.bordered {
	border: 1px solid var(--bh-border-color);
}
.dropshadow {
	box-shadow: var(--bh-box-shadow);
}

.inline-badges {
	line-height: 0;
	a {
		display: inline-block;
	}
}

p.caption {
	font-size: 0.8rem;
	text-align: center;
}

// --- page_meta -------------------------------------------------------------
.page-meta {
	& > *:before {
		font-family: "Font Awesome 7 Free";
		font-weight: 900;
		display: inline-block;
		width: 1em;
		margin-left: .5em;
		margin-right: .3em;
	}
	.published-time:before {
		content: "\f133";
	}
	.reading-time:before {
		content: "\f017";
	}
	.word-count:before {
		content: "\f036";
	}
	.category:before {
		content: "\f07b";
	}
	& > *:first-child:before {
		margin-left: 0;
	}
	& > * {
		margin-right: .5em;
	}
}

.post-tags {
	.post-tags-list {
		.post-tag {
			a {
				&:before {
					font-family: "Font Awesome 7 Free";
					content: "#";
				}
			}
		}
	}
}

// --- mobile ----------------------------------------------------------------


// --- general ---------------------------------------------------------------
/**
em {
	color: $color-dark;
	font-weight: normal;
}
**/


// --- my widgets ------------------------------------------------------------
/*
div.barchart {
	.chart-item {
		margin-bottom: 2px;
		clear: both;
		.chart-item-bar {
			display: inline-block;
			vertical-align: middle;
			border: 1px solid lighten($color-grey, 20%);
			border-radius: 3px;
			padding: 2px;
			.bar {
				float: right;
				width: 100px;
				height: 0.6em;
				background: #0075aa;
				border-radius: 2px;
			}
		}
		.chart-item-label {
			color: $color-grey;
			line-height: 1.2;
			padding: 0 0 0 6px;
		}
	}
}

#markdown-toc {
	margin: 0.5rem 2rem;
	padding: 0.5rem 1rem;
	background: #f9f9f9;
	border-radius: 0.5rem;
	li {
		list-style: none;
	}
	ul {
		padding-left: 1.5em;
	}
	&.pull-right {
		margin-right: 0;
		min-width: 40%;
	}
}
@media only screen and (max-width: 767px) {
	#markdown-toc {
		&.pull-right {
			float: none !important;
			margin-right: 2rem;
			max-width: 100% !important;
		}
	}
}
*/

// --- common modifier -------------------------------------------------------
/**
.onethird { max-width: 33% !important; display: block; }
.twothird { max-width: 66% !important; display: block; }
.half		 { max-width: 50% !important; display: block; }

.mix-margin {
	margin: 0.5rem 2rem !important;
	&.pull-right {
		margin-right: 0 !important;
	}
	&.pull-left {
		margin-left: 0 !important;
	}
}
.mix-boxed {
	border: 1px solid $color-light;
	padding: 2px 8px;
	&.mix-round {
		border-radius: 8px;
	}
}
.mix-large { font-size: 1.2em; }
.mix-xlarge { font-size: 1.4em; }
.mix-xxlarge { font-size: 1.6em; }
.mix-xxxlarge { font-size: 1.8em; }

.block-title {
	font-size: 0.9em;
	background: darken($background-body, 3%);
	padding-left: 3em;
	&:before {
		content: "\f14a"; // square-check
		font-family: FontAwesome;
		display: inline-block;
		margin-left: -2.5em;
		width: 1.5em;
	}
}

**/

/*
.fit svg, .fit {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
.filled { width: 100%; }
*/

// ---------------------------------------------------------------------------
// --- override bootstrap/theme default --------------------------------------
//
// --- navbar ----------------------------------------------------------------
/**

// --- post header -----------------------------------------------------------
.intro-header {
	&.big-img { // homepage
		color: $color-header;
		.page-heading {
			h1 {
				font-size: 3.0em;
				text-shadow: 2px 2px 2px $color-dark;
			}
			hr.small {
				color: darken($color-header, 15%);
				box-shadow: 1px 1px 2px $color-dark;
			}
		}
	}

	.categories-heading, .tags-heading,
	.projects-heading, .page-heading, .blog-heading, .post-heading { // common
		h1 {
			margin-top: 20px;
			text-shadow: 2px 2px 2px $color-grey;
		}
		hr.small {
			color: lighten($color-text, 10%);
			box-shadow: 1px 1px 2px $color-grey;
		}
		.projects-subheading, .page-subheading,
		.blog-subheading, .post-subheading {
			font-size: 1.4em;
			font-family: $font-norm;
			font-weight: $font-thin-weight;
		}
	}

	.categories-heading, .tags-heading,
	.projects-heading, .page-heading {
		text-align: center;
		h1 {
			font-size: 2.5em;
		}
		.projects-subheading, .page-subheading {
			margin-top: 20px;
		}
	}

	.blog-heading, .post-heading { // articles
		h1 {
			font-size: 2.0em;
			border-bottom: 1px solid $color-grey;
			padding-bottom: 4px;
		}
		hr.small {
			display: none;
		}
		.blog-subheading, .post-subheading {
			margin-top: 10px;
		}
		.post-meta {
			font-size: 0.9em;
			color: $color-grey;
		}
	}
}

// --- post preview ----------------------------------------------------------
.post-preview {
	font-family: $font-norm;
	a {
		color: $color-text;
		.post-title {
			padding: 2px 0;
			border-bottom: 1px solid $color-light;
		}
		.post-subtitle { }
		.img-title {
			max-height: 360px;
			width: auto;
		}
	}
	.post-meta {
		font-family: $font-meta;
		font-size: 0.9em;
	}
	.post-entry {
		font-family: $font-norm;
		text-align: justify;
	}
	.blog-tags { } // --> .blog-tags
}

// --- post body -------------------------------------------------------------
article.blog-page,
article.blog-post {
	font-family: $font-norm;
	font-size: 16px;

	h1, h2, h3, h4, h5 {
		margin-top: 2em;
	}

	h2 {
		padding: 4px 0;
		border-bottom: 1px solid $color-light;
	}

	p {
		line-height: 1.8;
		text-align: justify;
		margin: 1.2em 0;
		word-break: keep-all;
		&:first-of-type {
			margin-top: 0;
		}

		a {
			color: $color-link;
		}
	}


}
**/

/*
	.post-repository { //** for project page
		margin: 5px 0 !important;
		font-weight: $font-head-weight;
		a {
			color: $color-link;
		}
	}
*/

// --- post body > bottom: tags, pager ---------------------------------------
/**
.blog-tags {
	clear: both;
	text-align: right;
	font-family: $font-norm;
	a {
		color: $color-link;

		&:hover {
			border-radius: 2px;
			color: #008AFF;
			background-color: #CCC;
		}
	}
}

.pager .previous > a,
.pager .next > a {
	font-size: 1em;
	color: $color-link;
	background: inherit;
	border: 1px solid transparent;
}
.pager .previous > a {
	padding-left: 0;
}
.pager .next > a {
	padding-right: 0;
}

// --- post list (categories, tags) ------------------------------------------
.panel-group {
	.panel {
		background: $background-body;
		a.list-group-item {
			font-family: $font-norm;
			font-weight: inherit;
			background: $background-body;
		}
	}
}

// --- footer ----------------------------------------------------------------
footer {
	background: $background-footer;
	background-image: url(/images/orion.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: auto 120px;

	a {
		color: $color-footer;
	}
}

// --- syntax highlight ------------------------------------------------------
//@import url("syntax.css");
pre.chroma { // theme github-dark
	color: #e6edf3;
	background-color: #0d1117;
}
**/



// --- for printing ----------------------------------------------------------
/*
img {
	page-break-inside: avoid !important;
}
*/

// ---------------------------------------------------------------------------
// --- for mobile ------------------------------------------------------------
/**
@media only screen and (max-width: 767px) {
body {
	font-size: 15px;
}

// --- navbar --------------------------
.navbar-custom {
	.navbar-toggle {
		border-color: transparent;
		&:focus, &:hover {
			background-color: transparent;
		}
	}
}

// --- post header ---------------------
.intro-header {
	&.big-img { // homepage
		.page-heading {
			h1 { font-size: 2.4em; }
		}
	}

	.categories-heading, .tags-heading,
	.projects-heading, .page-heading, .blog-heading, .post-heading { // common
		.projects-subheading, .page-subheading,
		.blog-subheading, .post-subheading {
			font-size: 1.2em;
		}
	}

	.categories-heading, .tags-heading,
	.projects-heading, .page-heading {
		h1 { font-size: 2.0em; }
	}

	.blog-heading, .post-heading { // articles
		h1 { font-size: 1.6em; }
	}
}

// --- post preview --------------------
.post-preview {
	a {
		.post-title { font-size: 1.6em; }
		.post-subtitle { font-size: 1.2em; }
	}
}

// --- post body -----------------------
article.blog-page,
article.blog-post {
	h1 { font-size: 1.8em; }
	h2 { font-size: 1.6em; }
	h3 { font-size: 1.4em; }
	h4 { font-size: 1.2em; }
	h5 { font-size: 1.0em; }

	p {
		line-height: 1.6;
		word-break: normal; // can break within a word
	}
}

// --- footer --------------------------
footer { font-size: 0.8em; }

} // --- end of mobile -------------------------------------------------------
**/

// --- for printing ----------------------------------------------------------
/*
@media print {
	body {
		font-size: 16pt;
	}
	.intro-header {
		margin: 40px 0;
	}
	#markdown-toc {
		page-break-inside: avoid !important;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	pre code {
		white-space: pre-wrap; word-break: break-all;
	}
	.post-meta a[href]:after,
	.post-tags a[href]:after {
		content: none !important;
	}
	.print-footer {
		border-top: 1px solid #ccc;
	}
	img {
		max-height: 70vh;
		max-width: 90% !important;
	}
	blockquote {
		padding: 10px 15px;
		border: 4px solid #ccc;
		border-radius: 10px;
	}
}
*/

// vim: set noexpandtab:
