{{- define "main" }}
				<section class="beauty-content page-content" data-pagefind-body>
{{- with .Params.repository }}
					<article class="project-info">
						<blockquote class="boxed"><ul class="nodot ps-0">
							<li><i class="fa-solid fa-laptop-code me-3"></i> <a href="{{ . }}" class="">{{ . }}</a></li>
						</ul></blockquote>
					</article>
{{- end }}
{{ .Content }}
				</section>

				<section class="page-footer my-5">
					{{- with site.Params.signature }}
					<div class="signature fst-italic">
						<p>-- <br>{{ . | strings.TrimSpace }}</p>
					</div>
					{{- end }}
{{- partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
					<div class="social-share">
{{- partial "share.html" . }}
					</div>
					<div class="ending-comment">
					</div>
				</section>

				<section class="page-seealso my-5">
{{- if or .Params.series .Params.categories }}
					<div class="see-also">
						<h3 id="see-also">{{ T "see-also" }}</h3>
	{{- if .Params.series }}
{{ partial "seealso.html" (dict
			"message" (T "same-series" .Params.series)
			"page" .
			"pages" (where site.Pages ".Params.series" .Params.series).ByPublishDate
		) }}
	{{- else if not site.Params.enableNewInCategory }}
{{ partial "seealso.html" (dict
			"message" (T "same-category" (title (index .Params.categories 0)))
			"pages" (
				first 5 (
					complement (slice .) (
						where site.Pages ".Params.categories" "intersect" .Params.categories
					)
				)
			)
		) }}
	{{- end }}
	{{- range .Params.sisters }}
{{ partial "seealso.html" (dict
			"message" (T "same-series" .)
			"pages" (where site.Pages ".Params.series" .).ByPublishDate
		) }}
	{{- end }}
	{{- with index .Params.categories 0 }}
						<p><a href="/categories/{{ . }}/">{{ T "all-in-the-category" (title .) }}</a></p>
	{{- end }}
					</div>
{{- end }}
				</section>

	{{- if or (in site.MainSections .Type) .Params.comments }}
		{{- if .Site.Config.Services.Disqus.Shortname }}
				<section class="page-comments">
					<div class="disqus-comments">
						{{- partial "disqus.html" . }}
					</div>
				</section>
		{{- end }}
	{{- end }}
{{- end }}
